// .login-body {
//   height: 100vh;
// }

.text-center {
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  width: 300px;
}
