<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/login-image.jpg');">
    <div class="container vh-100">
      <div class="row justify-content-center h-100">
        <mat-card class="example-card card-container my-auto">

          <div class="text-center">
            <mat-card-title>Login</mat-card-title>
          </div>

          <mat-card-content>
            <form>
              <table class="example-full-width center" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Username</mat-label>
                      <input matInput type="text" placeholder="Username" class="w-full mb-3" required>
                      <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="Password" class="w-full mb-3" required>
                      <mat-icon matSuffix>password</mat-icon>
                      <mat-hint>password at least 8 characters</mat-hint>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </form>

          </mat-card-content>

          <mat-card-actions class="text-center">
            <div class="text-center">
              <button mat-raised-button color="primary" routerLink="/home">Login</button>
            </div>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </div>
</div>