<p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
<div class="layout-main-container">

  <div class="layout-main">
    <div class="grid">
      <div class="col-12 md:col-6">

        <div class="card">
          <h5>PrimeNG</h5>
          <button pButton label="Submit" class="mr-2 mb-2"></button>
          <button pButton label="Disabled" disabled="true" class="mr-2 mb-2"></button>
          <button pButton label="Link" class="p-button-link mr-2 mb-2"></button>
        </div>
      </div>

      <div class="col-12 md:col-6">

        <div class="card">
          <h5>非PrimeNG</h5>
          <button mat-raised-button class="mr-2 mb-2" color="primary">Primary</button>
          <button mat-raised-button class="mr-2 mb-2" disabled>Disabled</button>
          <a mat-button>Link</a>
        </div>
      </div>
    </div>

  </div>
</div>
